body {
	display:flex;
	flex-flow: column;
  	height: 100%;
  	margin: 0
}

#header { 
	background: linear-gradient(90deg, #DDDDDD, #AAAAAA);
	color : #444444;
	font-family: Calibri;
	font-size: 55px;
	height: 70px;
}

#header a {
	font-size: 15px;
	float: right;
}

#toolbar { 
	 flex: auto;
	display: flex; 
	background: linear-gradient(90deg, #DDDDDD, #AAAAAA);
	/* look at : https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#content { 
	flex: auto;
	overflow: hidden; 
	background: white; 
	display: block;
}

.border{
	margin: 0px 2px 0px 2px;
}

#footer { 
	height: 10px;
	background: linear-gradient(90deg, #DDDDDD, #AAAAAA);
}

#canvas {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	width :100%;
}


#files {
	display: none;
}

#url{
	background-color: #AAAAAA;
	color: black;
	border: 2px solid;
	border-radius: 2px;
	height:21px;
	line-height: 23px;
}

.button{
	cursor: pointer;
	width: 90px;
	height:25px;
	line-height: 25px;
	background-color: #AAAAAA;
	color: black;
	transition: 500ms all;
	border: 2px solid;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 5px;
}

#url_button {
	border: 0px solid;
}

.button:hover {
	background-color: #555555;
}

.slide_align{
	vertical-align: middle;
}

#label_unity{
	vertical-align: middle;
	border-color: white;
}

.red_border{
	outline: 4px dashed red;
	transition: 1000ms all;
}

.label_opacity input{
	width : 60px;
}

.label_opacity, .label_color, .label_font, .label_unity, .label_url{
	height:25px;
	line-height: 25px;
		border: 2px solid;
	border-radius: 2px;
	text-align: center;
	vertical-align: middle;
	background-color: #AAAAAA;
	padding-right:5px;
	padding-left:5px;
	margin-bottom: 5px;
}

.label_url{
	padding-left:0px;
}


#color_picker{
	background-color: #AAAAAA;
	border: 0px solid;
	outline: none;
	background-color: transparent;
}

#unit_val{
	background-color: #CCCCCC;
	border: 0px solid;
}

#url{
	background-color: #CCCCCC;
	border: 0px solid;
}

.label_unity input{
	width : 90px;
	height:20px;
}

.label_color{
	vertical-align: middle;

}
.label_color input{
	width : 70px;
	height: 22px;
	padding-bottom:2px;
}

.label_font input{
	width : 50px;
}

.show_label{
	vertical-align: middle;
}